html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


.hero-wrapper{
  background-image: url('assets/bg-hero.jpg');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.hero-wrapper-filter{
  background-image: url('assets/bg-hero-filter.jpg');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.li-icon {
  margin: 0;
  padding:5px;
  width: 100%;
}

ul { 
  list-style-type: none;
}

ul#myRow .li-icon {
  display: inline-block;
  width: auto;
}

.form-check-input:checked{
  background-color: #FFE15D !important;
  border: 0;
}
.form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
  color: black;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0.1rem green !important;
}

@media only screen and (max-width: 600px) {
  .img-frame{
    width: 350px;
  }
}
